.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
    }
  }

  .userInfo-Container {
    display: flex;
  }

  .userInfo-Container img {
    width: 40px;
    height: auto;
    border-radius: 50%;
  }
  .userInfo-menu {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0 0 0 14px;
  }

  .userInfo-Wrapper:hover .userInfo-menu {
    display: block;
  }

  .userInfo-menu:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
